.contacts-list-container {
    max-width: 700px;
    margin: auto;
    padding: 40px;

    .title {
        font-size: 3em;
        opacity: 0.2;
    }

    .favorites-list {
        margin-bottom: 50px;
        background: var(--color-secondary);
    }

    .empty-list {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.new-contact {
    position: fixed;
    bottom: 30px;
    right: 10vw;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 3em;
    padding: 0;
}