.contact-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-background);
  padding: 16px;
  cursor: pointer;

  .details {
    word-break: break-word;

    .name {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}
